span {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  color: #5a5d9d;
}

span[class*="l-"] {
  height: 8px; width: 8px;
  background: #6bc5d2;
  display: inline-block;
  margin: 12px 4px;

  border-radius: 100%;

  animation: loader 4s infinite;
  animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  animation-fill-mode: both;
}

span.l-1 {animation-delay: 1s}
span.l-2 {animation-delay: 0.8s}
span.l-3 {animation-delay: 0.6s}
span.l-4 {animation-delay: 0.4s}
span.l-5 {animation-delay: 0.2s}
span.l-6 {animation-delay: 0s}

@keyframes loader {
  0% {transform: translateX(-30px); opacity: 0;}
  25% {opacity: 1;}
  50% {transform: translateX(30px); opacity: 0;}
  100% {opacity: 0;}
}
